.app {
  margin: 10px;
  padding: 10px;
  text-align: center;

  .save-button {
    background: #13ba85;
    border: 0;
    color: #fff;
    font-weight: bold;
    height: 40px;
    width: 500px;
  }

  .token {
    span {
      display: inline-block;
      text-align: left;
      width: 250px;
    }

    input {
      border: 1px solid #cbd5d9;
      display: inline-block;
      height: 25px;
      margin: 5px 0;
      width: 250px;
    }

    button {
      background: #13ba85;
      border: 0;
      color: #fff;
      height: 30px;
      margin: 0 10px;
      width: 500px;
    }
  }

  .widget-key {
    display: inline-block;
    text-align: left;
    width: 250px;
  }

  .widget-value {
    border: 1px solid #cbd5d9;
    display: inline-block;
    height: 25px;
    margin: 5px 0;
    width: 250px;
  }

  .error {
    color: red;
    font-weight: bold;
  }

  .response-message {
    color: #13ba85;
    font-weight: bold;
    margin: 15px 0;
  }
}

.items {
  hr {
    margin-top: 40px;
    max-width: 500px;
  }
}
