.app {
  padding: 10px;
  margin: 10px;

  .token {
    span {
      display: inline-block;
      width: 250px;
    }

    input {
      display: inline-block;
      width: 250px;
    }

    button {
      margin: 0 10px;
      width: 150px;
    }
  }

  .widget-key {
    display: inline-block;
    width: 250px;
  }

  .widget-value {
    display: inline-block;
    width: 250px;
  }
}
