.app {
  padding: 10px;
  margin: 10px;
  text-align: center;

  .token {
    span {
      display: inline-block;
      width: 250px;
      text-align: left;
    }

    input {
      display: inline-block;
      width: 250px;
    }

    button {
      margin: 0 10px;
      width: 150px;
    }
  }

  .widget-key {
    display: inline-block;
    width: 250px;
    text-align: left;
  }

  .widget-value {
    display: inline-block;
    width: 250px;
  }
}

.items {
  hr {
    margin-top: 40px;
    max-width: 500px;
  }
}
