.gmail {
  &-add-button {
    background: #248cb3;
    border: 0;
    color: #fff;
    height: 40px;
    max-width: 508px;
    width: 100%;
  }

  &-remove-button {
    background: #e8514d;
    border: 0;
    color: #fff;
    height: 35px;
    margin: 10px 0;
    max-width: 508px;
    width: 100%;
  }
}
