@import "../../../scss/colours.scss";

.journeys {
  background-color: $white;
  border-radius: 5px;
  margin: 30px auto;
  min-width: 60%;
  padding: 10px;
  width: fit-content;

  h3 {
    margin: 0 0 10px;
    font-weight: lighter;
  }

  &-journey {
    margin-bottom: 5px;

    &-key {
      color: $label-colour;
    }

    input {
      border: 1px solid $input-border-colour;
      border-radius: 3px;
      box-sizing: border-box;
      font-family: inherit;
      height: 25px;
      margin: 5px 0;
      width: 100%;
    }

    &-remove {
      background: transparent;
      border: 1px solid $primary-colour;
      border-radius: 3px;
      font-family: inherit;
      color: $primary-colour;
      display: block;
      height: 30px;
      margin: 0 auto;
      width: 100%;
    }
  }

  &-add {
    background: $primary-colour;
    border: 0;
    border-radius: 3px;
    color: $button-text-colour;
    display: block;
    height: 30px;
    font-family: inherit;
    margin: 10px auto;
    width: 100%;
  }
}
