.bin-day {
  .widget-key {
    display: inline-block;
    width: 250px;
  }
  
  .widget-value {
    display: inline-block;
    width: 250px;
  }

  button {
    width: 100%;
    max-width: 508px;
  }
}
