$background-colour: #E8E9F7;
$label-colour: #667085;
$error-colour: #f44336;
$success-colour: rgb(123, 207, 54);
$primary-colour: #2a5fc9;
$white: #FFF;








// TODO remove these when done
$text-colour: #101828;

$add-button-colour: #248cb3;
$remove-button-colour: #e8514d;
$submit-button-colour: #13ba85;
$button-text-colour: #fff;

$input-border-colour: #cbd5d9;

